<p>Đây là trang index</p>

<p>Show thông tin những course được add vào</p>

<%= link_to "Add new course", new_course_path %>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @course.each do |c| %>
    <tr>
      <td><%= c.cName %></td>
      <td><%= c.cDes %></td>
      <td><%= link_to 'Show', course_path(c) %></td>
    </tr>
  <% end %>
</table>