<p>Đây là trang tạo mới các khóa học</p>

<%= form_for :course, url: course_index_path do |f| %>
  <p>
    <%= f.label :title, "Tên khóa học" %><br>
    <%= f.text_field :cName %>
  </p>
 
  <p>
    <%= f.label :text, "Mô tả khóa học" %><br>
    <%= f.text_area :cDes %>
  </p>
 
  <p>
    <%= f.submit "Create new course" %> 
  </p>
<% end %>