<p>Show thông tin những course được add vào</p>

<p>Tên khóa học</p>
<%=@course.cName %>

<p>Mô tả khóa học</p>
<%=@course.cDes %>
<br>
<br>
<%= link_to 'Edit', edit_course_path(@course) %>  |   
<a href="/course">Delete</a>
<br>
<br>
<a href="/course">Back</a>